<div class="play-list-body">
  <ul class="play-list-table-header">
    <!-- <li>titulo</li>
    <li>album</li> -->
    <li (click)="changeSort('name')" style="cursor: pointer">Nombre ❤</li>
    <li (click)="changeSort('album')" style="cursor: pointer">álbum 🆗</li>
    <li>fecha incorporación 🍌😁</li>
    <li><i class="uil uil-clock-eight"></i></li>
  </ul>
  <ul
    class="play-list-rows"
    *ngFor="
      let track of tracks | orderList : optionSort.property : optionSort.order
    "
  >
    <li class="track-name">
      <ng-container
        *ngTemplateOutlet="coverSection; context: { track: track }"
      ></ng-container>
    </li>
    <li class="track-name-opacity">
      <!-- {{ track.album | orderList }} -->
      {{ track.album }}
    </li>
    <li class="track-name-opacity">
      {{ track.album }}
    </li>
    <li class="track-name-opacity">
      {{ track.album }}
    </li>
  </ul>
</div>

<!--template del cover-->
<ng-template #coverSection let-track="track">
  <div class="cover-section">
    <div class="cover-container" (click)="sendPlay(track)">
      <img
        appImgBroken
        class="cover-track"
        [src]="track.cover"
        [alt]="track.name"
      />
      <!-- Overlay con ícono Play -->
      <div class="overlay">
        <i class="uil uil-play"></i>
      </div>
    </div>
    <div class="cover-info">
      <div class="name-track">{{ track.name }}</div>
      <div class="name-track-details">{{ track.artist.name }}</div>

      <!-- 👇 botón play -->
      <button class="play-btn" (click)="sendPlay(track)">
        <i class="uil uil-play"></i>
      </button>
    </div>
  </div>
</ng-template>
