<p>test-page works!</p>
<!-- <h3>ngForTips</h3> -->
<!-- <div class="wrapper-test"> -->
<!-- *ngFor="let damut of [1, 2, 3, 4, 1, 1]; let indice = index" -->
<!-- *ngFor=" let damut of [1, 2, 3, 4, 1, 1]; let primero = first; let ultimo = last " -->
<!-- *ngFor="let damut of [1, 2, 3, 4, 1, 1];let indice = index;let par = even;let impar = odd" -->
<!-- <div class="ng-for-block"> -->
<!-- 😁 -->
<!-- prueba 1 -->
<!-- <p>damut: {{ damut }}</p> -->
<!-- <span>{{ indice }}</span> // Vuenta 0,1,2,3 posicion -->
<!-- <span *ngIf="indice === 2">❤️</span> -->
<!-- Prueba 2 -->
<!-- <span *ngIf="primero">👀</span> -->
<!-- <span *ngIf="ultimo">😍</span> -->
<!-- Prueba 3 -->
<!-- <span *ngIf="par">👀</span> -->
<!-- ({{ indice }}) ({{ par }}) ({{ impar }}) -->
<!-- </div> -->

<!-- pipe -->

<h3>pipe native</h3>
<div class="wrapper-test">
  <div class="ng-for-block">
    <!-- Prueba 1 pipe -->
    <div>{{ dataValue }}</div>
    <!-- pipe -->
    <div>{{ dataValue | date }}</div>
    <!-- pipe con hora -->
    <div>{{ dataValue | date : "short" }}</div>
    <div>{{ dataValue | date : "🤣🤣 -->  MMM d, y, h:mm:ss a" }}</div>
    <!-- pipe text -->
    <div>{{ "Hola Mundo" | uppercase }}</div>
    <div>{{ "Hola Mundo" | lowercase }}</div>
    <!-- currenPipe -->
    <!-- valor de peso con decimales -->
    <div>{{ 123456 | currency }}</div>
    <div>{{ 123456 | currency : "CAD" }}</div>
    <div>{{ 123456 | currency : "CAD" : "code" }}</div>
    <!-- decimales -->
    <div>{{ 1234562333.32 | currency : "CAD" : "code" : "1.2-2" }}</div>
    <!-- Algo diferente a las divisas -->
    <div>{{ 55.24 | number : "1.2" }}</div>

    <div>{{ dataRaw | json }}</div>
  </div>
</div>
