<div class="section--generic">
  <h1 class="section--generic__title">{{ title }}</h1>

  <div class="section--generic__player--zone">
    <ul
      class="player--list"
      [ngClass]="{ 'card-small': mode === 'small', 'card-big': mode === 'big' }"
    >
      <li *ngFor="let track of dataTracks">
        <!-- {{ track.name }} -->
        <!-- {{ track | json }} -->
        <!-- Si se necesita se pasan asi o de la forma nueva Required imput -->
        <!-- <app-card-player [track]="track" [mode]="mode" /> -->
        <!-- Forma nueva Required Imput -->
        <!-- si no pongo los datos se rome -->
        <app-card-player [track]="track" [mode]="mode" />
      </li>
    </ul>
  </div>
</div>
